{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "I am confident that if my child was bullied, the school would stop it happening" %}
{% set questionNumber = "10" %}
{% set questionText = "I am confident that if my child was bullied, the school would stop it happening" %}
{% set questionSanitised = "my-child-bullied-2" %}
{% set backLink = "school-good-behaviour-2" %}
{% set nextPage = "school-my-concerns-2" %}

{% block pageTitle %}
{{ pageTitle }} — {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if editing %}
      {{ govukBackLink({
        text: "Back to your answers",
        href: "/leave-feedback/check-your-answers-2"
      }) }}
    {% else %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}

    <span class="govuk-caption-xl"><strong>Child 2:</strong> Question {{ questionNumber }} of 13</span>

    <form action="{{ '/leave-feedback/check-your-answers-2' if editing else nextPage }}" method="post" class="form">

      {{ govukRadios({
        idPrefix: questionSanitised,
        name: questionSanitised,
        fieldset: {
          legend: {
            text: questionText,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "Strongly agree",
            value: "Strongly agree",
            checked: checked(questionSanitised, "Strongly agree")
          },
          {
            text: "Agree",
            value: "Agree",
            checked: checked(questionSanitised, "Agree")
          },
          {
            text: "Disagree",
            value: "Disagree",
            checked: checked(questionSanitised, "Disagree")
          },
          {
            text: "Strongly disagree",
            value: "Strongly disagree",
            checked: checked(questionSanitised, "Strongly disagree")
          },
          {
            text: "Don‘t know",
            value: "Don‘t know",
            checked: checked(questionSanitised, "Don‘t know")
          }
        ]
      }) }}

      {{ govukCharacterCount({
        name: "bullying-explain-2",
        id: "bullying-explain-2",
        classes: "govuk-!-width-two-thirds",
        maxlength: 250,

        label: {
          text: "Explain my answer",
          classes: "govuk-label--m"
        },
        hint: {
          html: "<p class='govuk-hint'>This is optional if you want to add more context to your answer. Do not include any names or personal information.</p>",
          classes: "govuk-!-width-two-thirds"
        },
        rows: 3,
        value: data["bullying-explain-2"]
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}


    </form>


  </div>
</div>


{% endblock %}
