{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
{{ question.text }} — {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{# surveyPager dictates the URL that the form POSTs to when the user clicks continue,
i.e. the next question unless they're editing,
in which case they're returned to the check your answers page #}
{% macro surveyPager() %}
{% if editing %}
  "/leave-feedback/check-your-answers"
{% elseif nextQuestion <= questionCount %}
  {{nextQuestion}}
{% elseif isFinalQuestion %}
  "/leave-feedback/additional-feedback"
{% else %}
  "/leave-feedback/check-your-answers"
{% endif %}
{% endmacro %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if editing %}
      {{ govukBackLink({
        text: "Back to your answers",
        href: "/leave-feedback/check-your-answers"
      }) }}
    {% else %}
      {% if isFirstQuestion %}
        {{ govukBackLink({
          text: "Back",
          href: "/leave-feedback/sharing-information-consent"
        }) }}
      {% else %}
        {{ govukBackLink({
          text: "Back",
          href: previousQuestion
        }) }}
      {% endif %}
    {% endif %}

    <span class="govuk-caption-xl">Question {{ questionId }} of {{ questionCount }}</span>

    <form action={{surveyPager()}} method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              {{ question.text }}
            </h1>
            {% if question.hintText !== null %}
              <span id="changed-name-hint" class="govuk-hint">
                {{ question.hintText }}
              </span>
            {% endif %}
          </legend>

          <div class="govuk-radios">
            {% for answer in question.answers %}
              {% if answer["divider"] %}
                <div class="govuk-radios__divider">or</div>
              {% else %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ sanitise(question.text) + "-" + loop.index}}" name={{ sanitise(question.text) }} type="radio" value="{{ question.answers[loop.index0].value }}" {{ checked(sanitise(question.text), question.answers[loop.index0].value) }}>
                  <label class="govuk-label govuk-radios__label" for="{{ sanitise(question.text) + "-" + loop.index}}">
                    {{ question.answers[loop.index0].text }}
                  </label>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}

    </form>


  </div>
</div>


{% endblock %}

