{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
My child feels safe at this school — Give feedback to schools
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% macro surveyPager() %}
{% if nextQuestion <= questionCount %}
  {{nextQuestion}}
{% else %}
  "/leave-feedback/check-your-answers"
{% endif %}
{% endmacro %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukBackLink({
      text: "Back",
      href: lastQuestion
    }) }}

    <span class="govuk-caption-xl">Give feedback to schools</span>

    <form action={{surveyPager()}} method="post" class="form">

      {{ govukRadios({
        idPrefix: sanitisedQuestionText,
        name: sanitisedQuestionText,
        fieldset: {
          legend: {
          text: text,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: hintText
        },
        items: [
          {
            value: "Strongly agree",
            text: "Strongly agree",
            checked: checked(sanitisedQuestionText, "Strongly agree")
          },
          {
            value: "Agree",
            text: "Agree",
            checked: checked(sanitisedQuestionText, "Agree")
          },
          {
            value: "Disagree",
            text: "Disagree",
            checked: checked(sanitisedQuestionText, "Disagree")
          },
          {
            value: "Strongly disagree",
            text: "Strongly disagree",
            checked: checked(sanitisedQuestionText, "Strongly disagree")
          },
          {
          value: "Don't know",
          text: "Don't know",
          checked: checked(sanitisedQuestionText, "Don't know")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


  </div>
</div>


{% endblock %}

