{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "I would recommend Greenwood High School to another parent" %}
{% set questionNumber = "14" %}
{% set questionText = "I would recommend Greenwood High School to another parent" %}
{% set questionSanitised = "school-i-would-recommend" %}
{% set backLink = "my-child-at-boarding-school" %}
{% set nextPage = "additional-feedback" %}

{% block pageTitle %}
{{ pageTitle }} — {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if editing %}
      {{ govukBackLink({
        text: "Back to your answers",
        href: "/leave-feedback/check-your-answers"
      }) }}
    {% else %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}

    <span class="govuk-caption-xl">Question {{ questionNumber }} of 14</span>

    <form action="{{ '/leave-feedback/check-your-answers' if editing else nextPage }}" method="post" class="form">

      {{ govukRadios({
        idPrefix: questionSanitised,
        name: questionSanitised,
        fieldset: {
          legend: {
            text: questionText,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "Yes",
            value: "Yes",
            checked: checked(questionSanitised, "Yes")
          },
          {
            text: "No",
            value: "No",
            checked: checked(questionSanitised, "No")
          }
        ]
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}


    </form>


  </div>
</div>


{% endblock %}
