{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "My child has the opportunity to attend clubs and activities during lunchtime, or before or after school" %}
{% set questionNumber = "7" %}
{% set questionText = "My child has the opportunity to attend clubs and activities during lunchtime, or before or after school" %}
{% set questionSanitised = "school-extracurricular-interests-2" %}
{% set backLink = "broad-range-subjects-2" %}
{% set nextPage = "my-child-life-skills-2" %}

{% block pageTitle %}
{{ pageTitle }} — {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if editing %}
      {{ govukBackLink({
        text: "Back to your answers",
        href: "/leave-feedback/check-your-answers-2"
      }) }}
    {% else %}
      {{ govukBackLink({
        text: "Back",
        href: backLink
      }) }}
    {% endif %}

    <span class="govuk-caption-xl"><strong>Child 2:</strong> Question {{ questionNumber }} of 13</span>

    <form action="{{ '/leave-feedback/check-your-answers-2' if editing else nextPage }}" method="post" class="form">

      {{ govukRadios({
        idPrefix: questionSanitised,
        name: questionSanitised,
        fieldset: {
          legend: {
            text: questionText,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            text: "Strongly agree",
            value: "Strongly agree",
            checked: checked(questionSanitised, "Strongly agree")
          },
          {
            text: "Agree",
            value: "Agree",
            checked: checked(questionSanitised, "Agree")
          },
          {
            text: "Disagree",
            value: "Disagree",
            checked: checked(questionSanitised, "Disagree")
          },
          {
            text: "Strongly disagree",
            value: "Strongly disagree",
            checked: checked(questionSanitised, "Strongly disagree")
          },
          {
            text: "Don‘t know",
            value: "Don‘t know",
            checked: checked(questionSanitised, "Don‘t know")
          }
        ]
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}


    </form>


  </div>
</div>


{% endblock %}
