{% extends "layout.html" %}

{% block pageTitle %}
Do you have any additional feedback? — {{ serviceName }}
{% endblock %}

{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "character-count/macro.njk" import govukCharacterCount %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {% if editing %}
  {{ govukBackLink({
      text: "Back to your answers",
      href: "/leave-feedback/check-your-answers"
    }) }}
  {% else %}
  {{ govukBackLink({
      text: "Back",
      href: finalQuestionUrl
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <form action="check-your-answers" method="post" class="form">

      {{ govukCharacterCount({
        name: "additional-feedback",
        id: "additional-feedback",
        maxlength: 1000,
        label: {
          text: "Do you have any additional feedback?",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        hint: {
          html: "<p class='govuk-hint'>You can add more detail to your answers or give feedback on any aspect of the school. It will be read by the Ofsted inspector and the school.</p> <p class='govuk-hint'>You can come back and edit your feedback at any time before you send it. There is a 1000 character limit.</p> <p class='govuk-hint'>If you do not have any additional feedback, you can continue.</p>"
        },
        rows: 10,
        value: data["additional-feedback"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
