{% set mainClasses = "govuk-main-wrapper--l" %}

{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Feedback submitted — {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">One more step…</h1>

    <h2 class="govuk-heading-m">Confirm your email address</h2>

    <p class="govuk-body">You’ll receive an email at {{ data["email"] }} asking you to confirm your email address.</p>

    {{ govukWarningText({
      text: "Your feedback may not be considered if you don’t confirm your email address.",
      iconFallbackText: "Warning"
    }) }}

    <p class="govuk-body">You can see <a href="#">{{ schoolName }}'s feedback</a>.</p>


    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service</a>? (takes 30 seconds)
    </p>
  </div>
</div>
{% endblock %}
