{% set mainClasses = "govuk-main-wrapper--l" %}

{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Feedback submitted — {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
        titleText: "Feedback submitted"
      }) }}

    {# <p class="govuk-body">We have sent you a confirmation email.</p> #}

    <h2 class="govuk-heading-m">What happens next</h2>

    <!-- if email -->

    {% if data['get-email'] == 'yes'  %}
    <p class="govuk-body">You’ll receive an email confirmation to {{ data["email"] }} with a copy of your responses.</p>
    {% endif %}

    <p class="govuk-body">You can view your school's overall feedback in <a href="#">'This school's feedback'</a></p>


    <p class="govuk-body">
      <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
    </p>
  </div>
</div>
{% endblock %}
