{% set mainClasses = "govuk-main-wrapper--l" %}

{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Email confirmed — {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
        titleText: "Email confirmed"
      }) }}

    <h2 class="govuk-heading-m">Thank you for providing feedback</h2>

    <p class="govuk-body">By giving feedback you are helping schools raise their standards. It also helps parents and carers make more informed choices about where to send their children.</p>

  </div>
</div>
{% endblock %}
