{% set mainClasses = "govuk-main-wrapper--l" %}

{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Feedback submitted — {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
        titleText: "Feedback submitted"
      }) }}

    <p class="govuk-body">We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next?</h2>

    <p class="govuk-body">We have sent your feedback to Ofsted which will be read by an Ofsted inspector.</p>

    <p class="govuk-body">They may contact you to ask for more information.</p>

    <p class="govuk-body">You can see results from other parents or carers for <a class="govuk-link" href="govuk-link">Greenwood High School's feedback.</a></p>

    <p class="govuk-body"><a class="govuk-link" href="https://design-system.service.gov.uk/patterns/confirmation-pages/default/index.html#">What did you think of this service?</a> (takes 30 seconds)</p>

  </div>
</div>
{% endblock %}
