{% set mainClasses = "govuk-main-wrapper--l" %}

{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Email confirmed — {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
        titleText: "Email confirmed"
      }) }}

    <h2 class="govuk-heading-m">We've confirmed your email address.</h2>

    <p class="govuk-body">Your feedback will be used to improve the quality of your school. Thank you!</p>

  </div>
</div>
{% endblock %}
