{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Do you want to answer for more than one child at this school? — {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if editing %}
    {{ govukBackLink({
        text: "Back to your answers",
        href: "/leave-feedback/check-your-answers"
      }) }}
    {% else %}
    {{ govukBackLink({
        text: "Back",
        href: "/leave-feedback/sharing-information-consent"
      }) }}
    {% endif %}

    <form action="{{ '/leave-feedback/check-your-answers' if editing else '/leave-feedback/questions/my-child-is-happy' }}" method="post" class="form">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "multiple-children",
        name: "multiple-children",
        fieldset: {
          legend: {
            text: "Do you have more than one child at Greenwood High School?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },

        items: [
          {
            value: "no",
            text: "No",
            checked: checked("multiple-children", "no")
          },
          {
            value: "yes",
            text: "Yes",
            checked: checked("multiple-children", "yes"),
            hint: {
              text: "You can take the survey answering for all your children once, or you can take it again answering for each child you have."
            }
          }
        ]
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}

    </form>

  </div>
</div>

{% endblock %}
