{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
What happens with your feedback — {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back",
        href: 'survey-code'
      }) }}

    <h1 class="govuk-heading-l">What happens with your feedback</h1>

    <p class="govuk-body">All feedback submitted during an inspection will be read by an Ofsted inspector to help them understand what your school is like. Ofsted will not publish any information in the report that identifies a child. More information is available in Ofsted’s privacy policy.</p>

    <p class="govuk-body">By using this service you give your consent to Ofsted and the school having access to your email address and responses.</p>

    <form action="{{ '/leave-feedback/check-your-answers' if editing else '/leave-feedback/multiple-children' }}" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Your email address",
          classes: "govuk-label--m"
        },
        hint: {
          text: "We’ll ask you to verify this address by clicking a link in an email and use it to send you a copy of your feedback."
        },
        id: "email",
        name: "email",
        type: "email",
        classes: "govuk-!-width-three-quarters",
        autocomplete: "email",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukCheckboxes({
        idPrefix: "confirm-parent",
        name: "confirm-parent",
        fieldset: {
          legend: {
            text: "Confirm you are a parent or carer of a child at this school",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "confirm-parent",
            text: "I currently have a child at this school"
          }
        ]
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}

    </form>


  </div>
</div>


{% endblock %}
