{% extends "layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
What happens with your feedback — {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back",
        href: 'survey-code'
      }) }}

    <h1 class="govuk-heading-l">What happens with your feedback</h1>

    <p class="govuk-body">All feedback is anonymised and will be read by an Ofsted inspector to help them understand what {{ schoolName }} is like. Ofsted also uses this information to make decisions about which schools to inspect and when.</p>

    <p class="govuk-body">By giving feedback you give your consent to Ofsted seeing your responses.</p>

    <form action="{{ '/leave-feedback/check-your-answers' if editing else '/leave-feedback/multiple-children' }}" method="post" class="form">

      {% set emailHtml %}
        {{ govukInput({
          id: "email",
          name: "email",
          type: "email",
          value: data["email"],
          autocomplete: "email",
          classes: "govuk-input--width-20",
          label: {
            text: "Email address"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "get-email-conditional",
      name: "get-email",
      fieldset: {
        legend: {
          text: "Do you want your feedback emailed to you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          conditional: {
            html: emailHtml
          },
          checked: checked("get-email", "yes")
        },
        {
          value: "no",
          text: "No",
          checked: checked("get-email", "no")
        }
      ]
    }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save your changes"
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}

    </form>


  </div>
</div>


{% endblock %}
