{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
      text: "Home",
      href: "#"
      },
      {
      text: "Organisations",
      href: "#"
      },
      {
      text: "Ofsted",
      href: "/"
      },
      {
      text: "Give feedback to Ofsted about your child's school"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Give feedback to Ofsted about your child's school</h1>

    <p class="govuk-body">Use this survey to tell us about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        An experience as parent or carer- good or bad
      </li>
      <li>
        As a parent or carer what you think about your child's school
      </li>
    </ul>

    <p class="govuk-body">There are 13 questions to complete and it should take around 15 minutes.</p>

    <p class="govuk-body">You can register concerns about your child's school by contacting <a class="govuk-link" href="#">Ofsted Complaints</a> or the school directly. </p>

    {{ govukButton({
      text: "Start now",
      href: "/leave-feedback/survey-code",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">If your school is currently going through an inspection, you will need the code provided.</p>

    <p class="govuk-body">You will need to provide an email address.</p>

    <p class="govuk-body">By giving feedback you are helping your child’s school to raise its standards.</p>

  </div>

</div>
{% endblock %}
