{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBreadcrumbs({
    items: [
      {
      text: "Home",
      href: "#"
      },
      {
      text: "Organisations",
      href: "#"
      },
      {
      text: "Ofsted",
      href: "/"
      },
      {
      text: "Give feedback to Ofsted about your child's school"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Give feedback to Ofsted about your child's school</h1>

    <p class="govuk-body">Use this service to tell Ofsted what you, as a parent or carer, think about your child’s school.</p>

    <p class="govuk-body">This service is only for giving feedback about schools. If you have other concerns you can contact the school directly or get in touch with your local authority.</p>

    <p class="govuk-body">There are 15 questions in the feedback survey and it should take around 15 minutes to complete.</p>

    <p class="govuk-body">By giving feedback you are helping schools raise standards. It also helps parents and carers make more informed choices about where to send their children.</p>

    {{ govukButton({
        text: "Start now",
        href: "/leave-feedback/survey-code",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

  </div>

</div>
{% endblock %}
