
{% extends "layout.html" %}

{% block pageTitle %}
  Parent View
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Organisations",
        href: "#"
      },
      {
      text: "Ofsted",
      href: "/"
      },
      {
        text: "Parent View"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Parent View
      </h1>
    </div>
</div>

{% endblock %}
